header {
  padding: 24px 0 17px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10000;
}

ul {
  display: flex;
}

ul li a {
  padding: 4px 16px 32px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #1d1f22;
}

ul li a:hover {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.logo {
  position: absolute;
  left: 47%;
}

.cart {
  display: flex;
  position: relative;
}

.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 22px;
}

.dropdown p {
  padding-right: 10px;
}

.dropdown img {
  padding-right: 22px;
}

span {
  position: absolute;
  top: -13px;
  right: -13px;
  padding: 3px 6px;
  background: #1d1f22;
  border-radius: 50%;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
